.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#change-playlist-btn {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #1DB954;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#change-playlist-btn:hover {
    background-color: #1ED760;
}
