.create-post-container {
    color: var(--schneider-dark);
    background-color: var(--schneider-white);
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px;
    font-family: Arial, sans-serif;
  }
  
  .create-post-container h1 {
    color: var(--schneider-orange);
  }
  
  .create-post-container form {
    display: flex;
    flex-direction: column;
  }
  
  .create-post-container label {
    margin-top: 20px;
  }
  
  .create-post-container input[type="text"],
  .create-post-container textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .create-post-container button {
    background-color: var(--schneider-orange);
    color: var(--schneider-dark);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .create-post-container button:hover {
    background-color: #e6b800;
  }
  